* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: block;
    background-color:  #e0e0e0;
}

.container {
    margin: 0;
    display: block;
    padding: 0 !important;
    
}

a {
    text-decoration: none;
    color: black;
}


header {
    top: 0;
    background-color: rosybrown;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    z-index: 1;
}

.login-link {
    padding: 1%;
    margin-right: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.logo {
    margin-left: 1%;
}
.modal-backdrop.show {
    opacity: 0;
}
.modal-backdrop {
    position:static;
}


/*content css */
section {
    padding: 4% 0 4% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}


#search-bar-div {
    justify-content: space-around;
    background-color: #f1f1f1;
    text-align: center;
}

#search-bar-div input {
    margin-top: 10%;
    border: 1px transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 25%;
    outline: none;
}


#content-viewmore-div {
    justify-content: center;
    text-align: center;
    padding-bottom: 2%;
}

#content-images-div {
    margin: 4% 0 4% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.imageclass img {
    border-radius: 25%;
    height: 150px;
    width: 150px;
    box-shadow: 10px 10px 10px grey;

}

.imageclass {
    position: relative;
    text-align: center;

}

.imageclass:hover img {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;


}

#cityname {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageclass:hover  #cityname {
    visibility: visible;
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 45%;
    border-radius: 25%;

}


#search-bar-div {
    background: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-size: cover;
    background-position: center;    
}



/* footer css */

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    bottom: 0;
    background-color: rosybrown;
}

#footer-logo-div img {
    height: 20px;
    width: 22px;
}

#footer-logo-div {
    order: 3;
    margin-right: 2%;
}

#contact-us-div {
    order: 1;
    margin-left: 2%;
}

#footer-div {
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    order: 2;
}


    

    
@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
        #content-images-div {
            display: flex;
          flex-wrap: wrap;
        justify-content:  space-around;

        }    
        .imageclass:hover #cityname {
            width: 250px;
            height: 250px;
            padding-top: 42%;

        }
        #cityname {
            transform: translate(-52%, -59%);
        }
        .imageclass img {
        height: 250px;
        width: 250px;
        }
        .imageclass{
            width: 35%;
            height: 100%;
            padding-right: 2%;
            padding-bottom: 6%;
        }
        #search-bar-div input {
            margin-top: 25%;
            width: 50%;
          }
        #content-viewmore-div {
        padding-bottom: 4%;
    }
}




@media screen and (max-width: 576px ){
    #content-images-div {
       flex-direction: column;
    }
    #search-bar-div input {
            margin-top: 50%;
            width: 50%;
    }       
    .imageclass {
        padding: 2%;
        margin-right: 18%;
    }       
    #content-viewmore-div {
        padding-bottom: 20%;
        padding-top: 4%;
    }
    .imageclass img {
        border-radius: 25%;
        margin-left: 25%;
        box-shadow: 10px 10px 10px grey;
        width: 150px;
    height: 150px;
    }
    #content-images-div {
        margin:0;
    }


    #cityname {
        transform: translate(-50%, -50%);


    }
    .imageclass:hover #cityname{
        
        width: 150px;
        height: 150px;
        padding-top: 20%;
    margin-left: 12%;
    }
    #footer-div{
        padding-top: 2%;
    }
    }
