* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: block;
   background-color:  #e0e0e0;
}

.container {
    margin: 0;
    display: block;
    padding: 0 !important;
    
}

a{
    text-decoration: none !important;
    color: black !important ;
    
}


header {
    top: 0;
    background-color: rosybrown;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;

}

.login-link {
    padding: 1%;
    margin-right: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.logo {
    margin-left: 1%;
}
.modal-backdrop.show {
    opacity: 0;
}
.modal-backdrop {
    position:static;
}

/* section css */
section {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.hotel-images img {
    height: auto;
    width: 270px;

}

.hotel-images {
    display: flex;
    flex-direction: row;
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    align-content: center;
    margin: 8% auto 2% auto;
}

#customer-info {
    margin: 2%;
}

b {
    font-family: cursive;
}

#payment-details {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 6%;
    background-color: rosybrown;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding-left: 4%
}

#footer-logo-div img {
    height: 20px;
    width: 22px;
}

/* footer css */

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    bottom: 0;
    background-color: rosybrown;
}

#footer-logo-div img {
    height: 20px;
    width: 22px;
}

#footer-logo-div {
    order: 3;
    margin-right: 2%;
}

#contact-us-div {
    order: 1;
    margin-left: 2%;
}

#footer-div {
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    order: 2;
}   



@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
    .hotel-images {
        margin: 14% auto 2% auto;
        width: 85%;
    height: 200px;
    }
    .hotel-images img {
        height: 200px;
        width: 270px;
    }
    article{
        padding-left: 3%;
    }
    #footer-div {
padding: 2%;
    }
}



@media screen and (max-width:576px){
    .hotel-images {
        flex-direction: column;
        margin: 20% auto 2% auto;
        width: 100%;
        height: auto;
    }
    .hotel-images img{
        margin-top: 2%;
        margin-left: 8%;
        height: auto;
        width: 270px;
    }
    article {
       
        margin-left: 4%;
    }
    #payment-details {
    flex-direction: column;
    }
    #button{
        width: 40%;
    margin-left: 23%;
    margin-bottom: 2%;
    }
    #payment-details {
        margin-bottom: 14%;
    }
}